.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.formContainer input {
    background-color: transparent;
    border-style: none;
    border-bottom:  solid 1px hsl(245, 25%, 20%, .1);
    width: 100%;
    font-size: 2.4rem;
}

.payButton {
    border-style: none;
    background-color: #FFBE53;
    padding: 2em;
    cursor: pointer;
    font-size: 1.8rem;
}
.payButton:hover {
    opacity: 0.8;
}
