.home {
    background-color: #282741;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.navBar {
    justify-self:  flex-start;
}
.homeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    top: 0;
    position: absolute;
}
.itemHome p{
    font-size: 3.6rem;
    font-family: 'Abel', sans-serif;
    color: #fff;
}
.itemHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    padding-top: 5em;
    display: flex;
    justify-content: center;
}
@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}
.imgContainer img{
    max-height: 60vh;
    animation: float 6s ease-in-out infinite;
}
.voltaBox {
    max-width: 80vw;
}

.addButton {
    background-color: #FFBE53;
    width: 245px;
    height: 67px;
    border-style: none;
    font-size: 2rem;
    font-family: 'Rokkitt', serif;
}

.addButton:hover {
    opacity:  0.8;
    cursor: pointer;
}
@media (max-width: 768px) {
    *{
        font-size: 8px;
    }
    .imgContainer img{
        width: 80%;
        height: auto;
    }
    .homeContainer{
        justify-content: space-evenly;
    }
    .itemHome svg {
        width: 80%;
    }
    .addButton {
        width: 80%;
    }
}

