.addButton {
    background-color: #FFBE53;
    width: 149px;
    height: 33px;
    border-style: none;
    font-size: 1.2rem;
}
.addButton:hover {
    opacity:  0.8;
    cursor: pointer;
}
.productCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    max-width:800px;
    max-height: 20em;
    padding-left: 2em;
    padding-bottom: 2.5em;
    padding-top: 2.5em;
    border-bottom:  solid 1px hsl(245, 25%, 20%, .1) ;
    color: #FFF7EB;
    box-sizing: border-box;
}

.productCard:hover {
    opacity: 0.8;
}
.productCard h1 {
    font-size: 2.4rem;
    color: #282741;
}

.productCard p {
    padding: right;
    font-size: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    color: #282741;
}

.productInfo {
    display: flex;
    flex-direction:row;
    align-items:center; 
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;}

.productInfo div {
    padding-left: 1em;
    padding-right: 1em;
}

.productInfo h3 {
    font-size: 1.2rem
}

.imgProduct img {
    display: flex;
    align-items: center;
    max-width: 200px;
    height: auto;
    max-height: 100%;
}

@media (max-width: 768px) {
    
    .productCard h1{
        font-size: 2rem
    }
    
}
@media (max-width: 425px) {
    .productInfo div {
        padding-left:0;
        padding-right: 0;
    }
}
