.button {
    border-radius: 0;
    border-width: 0;
    background-color: #FFF7EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 160px;
    height: 47px;
    padding: 15px;
}

.cartIconContainer {
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cartIcon{
    position: absolute;
    align-self: flex-end;
}
.cartItems {
    align-self: flex-start;
    width: 12px;
    height: 12px;
    background-color: #FFBE53;
    position: absolute;
    font-size: 0.9rem;
}

.myCart {
    font-size: 1.8rem;
}